*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* label {
    padding: 13px;
    display: inline-block;
} */
.form {
   
    width: 470px;
    height: 550px;
    border: 2px solid;
    text-align: center;
    margin: auto;
   
}
.table{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 10px;
    
}
button.formbtn {
    /* width: 82px; */
    text-align: center;
    margin-left: 128px;
}
input[type="text"] {
    margin-left: 46px;
}
button {
    margin-left: 45px;
}